@use "../utils/breakpoints" as *;

.container {
  grid-column: 1 / 5;
  gap: 1.125rem;

  .container__input {
    label {
      margin-bottom: 1em;
    }
    input {
      width: 100%;
    }
  }
}

@include md {
  .container:first-child {
    grid-column: 1 / 4;
  }
}
