@use "../utils/breakpoints" as *;

.container {
  grid-column: 1 / 5;
  grid-template-columns: repeat(3, 1fr);

  .container__wrapper {
    grid-column: 1 / 5;
    column-gap: 1.125rem;
  }
  .container__input {
    label {
      margin-bottom: 1em;
    }
    input {
      width: 100%;
    }
  }
}

@include md {
  .container {
    grid-template-columns: repeat(4, 1fr);

    .container__wrapper {
      grid-column: 1 / 4;
    }
  }
}
// grid-template-columns: subgrid;
