@use "../utils/variables" as *;

body {
  font-family: $ff-body;
  font-size: $fs-body-1;
  font-weight: $fw-regular;
  color: $clr-neutral-5;
}

h2 {
  font-family: $ff-heading;
  font-weight: $fw-extrabold;
  font-style: italic;
  font-size: $fs-heading;
  line-height: 1.1;

  & span {
    color: $clr-primary-1;
  }
}

label {
  font-size: $fs-body-2;
  font-weight: $fw-extrabold;
  color: $clr-neutral-4;
  letter-spacing: 3px;
}

input {
  font-weight: $fw-bold;
}

.separator {
  input {
    display: flex;
    align-items: center;
    justify-content: center;
    &::before {
      font-size: $fs-body-2;
      font-weight: $fw-regular;
      color: $clr-neutral-1;
      letter-spacing: 1px;
    }
  }
}

.error-message {
  font-size: $fs-body-2;
  font-style: italic;
  color: $clr-primary-2;
}

footer {
  font-size: 0.813rem;
  font-weight: $fw-regular;
  a {
    color: #3900b3;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
    &:focus {
      outline-offset: 1px;
      outline: 2px solid $clr-neutral-5;
    }
  }
}
