@use "./variables" as *;

.text-primary-1 {
  color: $clr-primary-1;
}
.text-primary-2 {
  color: $clr-primary-2;
}

.text-neutral-1 {
  color: $clr-neutral-1;
}
.text-neutral-2 {
  color: $clr-neutral-2;
}
.text-neutral-3 {
  color: $clr-neutral-3;
}
.text-neutral-4 {
  color: $clr-neutral-4;
}
.text-neutral-5 {
  color: $clr-neutral-5;
}

.bg-primary-1 {
  color: $clr-primary-1;
}
.bg-primary-2 {
  color: $clr-primary-2;
}

.bg-neutral-1 {
  color: $clr-neutral-1;
}
.bg-neutral-2 {
  color: $clr-neutral-2;
}
.bg-neutral-3 {
  color: $clr-neutral-3;
}
.bg-neutral-4 {
  color: $clr-neutral-4;
}
.bg-neutral-5 {
  color: $clr-neutral-5;
}

.fs-heading {
  font-size: $fs-heading;
}
.fs-body-1 {
  font-size: $fs-body-1;
}
.fs-body-2 {
  font-size: $fs-body-2;
}

.fw-extrabold {
  font-weight: $fw-extrabold;
}
.fw-bold {
  font-weight: $fw-bold;
}
.fw-regular {
  font-weight: $fw-regular;
}

.grid {
  display: grid;
}
.flex {
  display: flex;
}
.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}
.row-gap-1 {
  row-gap: 2rem;
}

.error {
  color: $clr-primary-2;
}
.error-container {
  border: 1px solid $clr-primary-2 !important;

  &:focus {
    outline: 2px solid $clr-primary-2 !important;
  }
}
