// fonts
$ff-primary: "MyPoppins", sans-serif;

$fs-lg: clamp(2.75rem, calc(1.98rem + 3.84vw), 5.44rem);
$fs-md: clamp(1rem, calc(0.86rem + 0.71vw), 1.5rem);
$fs-sm: clamp(0.56rem, calc(0.51rem + 0.27vw), 0.75rem);

$fw-extrabold: 800;
$fw-bold: 700;
$fw-regular: 400;

$ff-heading: $ff-primary;
$ff-body: $ff-primary;

$fs-heading: $fs-lg;
$fs-body-1: $fs-md;
$fs-body-2: $fs-sm;

// colors
$clr-primary-1: hsl(259, 100%, 65%);
$clr-primary-2: hsl(0, 100%, 67%);

$clr-neutral-1: hsl(0, 0%, 100%);
$clr-neutral-2: hsl(0, 0%, 94%);
$clr-neutral-3: hsl(0, 0%, 86%);
$clr-neutral-4: hsl(0, 1%, 44%);
$clr-neutral-5: hsl(0, 0%, 8%);
